@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Inconsolata:wght@200..900&display=swap');

/*
    Verde: #04A09D
    Lilas: #5f2c82;

*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    letter-spacing: 1px;
}

body,
html {
    background-color: wheat;
    height: 100vh;
}

main {
    position: relative;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

/*------- A TELA DE LOG IN COMPLETA ---------*/
section#login {

    width: 255px;
    height: 490px;
    overflow-y: auto;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486);
    border-radius: 20px;
    background-color: whitesmoke;

    /*  ------ ANIMAÇÃO --------*/
    transition: width .5s, height .8s;
    transition-timing-function: ease;
}

section#login>div#imagem {
    display: block;
    background: url(../image/ecra-pc.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;
}

section div#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    padding: 0 2%;
}

section#login h1 {
    text-align: center;
    color: #295c5a;
    font-variant: small-caps;
}

div#formulario .infor {
    font-size: .8rem;
    color: #2d6462;
}

form div.campo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: .5rem;
}

div.campo label {
    width: fit-content;
    color: whitesmoke;
    background-color: #2d646285;
    padding: .2rem;
    border-radius: 5px;
}

div.campo input {
    padding: .5rem;
    border: 1.5px solid #49a09d;
    outline: none;
    border-radius: 5px;
    color: darkgray;
    font-size: 1.1rem;
    background-color: #2d646267;

    transition: all .2s ease;
}

div.campo input::placeholder{
    color: rgb(245, 245, 245);
}

div.campo input.invalido{
    border: 2px solid red;
}

.sms-erro{
    font-size: .8rem;
    color: red;
    width: 100%;
}

div.campo input:focus-within {
    background-color: whitesmoke;
}

form>button {
    display: block;
    font-size: 1rem;
    width: 50%;
    padding: .5rem;
    color: white;
    border: none;
    background-color: #49a09d;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;

    transition: all .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

form>button:active {
    transform: scale(.9);
}

footer{
    width: fit-content;
    background-color: rgba(245, 245, 245, 0.589);
    padding: .2rem;
    text-align: center;
    font-size: .8rem;
}